# copy this file as master.env and put your secrets there
OPENROUTERAI_API_KEY="sk..."

# Wait 60 seconds before connecting using these details, or login to https://console.neo4j.io to validate the Aura Instance is available
NEO4J_URI=neo4j+s://aaa.databases.neo4j.io
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=aaa
AURA_INSTANCEID=aaa
AURA_INSTANCENAME=aaa
