<!DOCTYPE html>
<html>
  <head>
    <title>CTFTime Q&A Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/external/bootstrap.5.3.3.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/external/mermaid.6.2.0.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/app/base.css') }}" rel="stylesheet" media="screen">
  </head>
  <body>

    <form id='chatbot-form' action="chatbot" method="post" style="width: 500px;">
      <div class="form-group">
        <label for="prompt">Please feel free to ask the CTFTime chatbot.</label>
        <textarea class="form-control" name="prompt" id="prompt" rows="6" placeholder="What is CTF?">{{ prompt }}</textarea>
      </div>
      <input type="submit" class="btn btn-primary mb-2" value="Submit">
    </form>

    <div id="table" style="width: 90%"></div>

  </body>
  <script src="{{ url_for('static', filename='js/external/bootstrap.5.3.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/external/gridjs.6.2.0.umd.js') }}"></script>
  <script>
      function setResponseFormat(cell, row, attributes) {
        // maintain line breaks or quotation marks
        // line wrap is done in css
        cell = `<pre>${cell}</pre>`;
        return gridjs.html(cell);
      }
      function setPrecFormat(cell, row, attributes) {
        // maintain line breaks or quotation marks
        // line wrap is done in css
        if ( cell === null ) {
          cell = 'N/A';
        } else {
          cell = `${(Math.round(cell * 100) / 100).toFixed(2)}`;
        }
        return gridjs.html(cell);
      }
      new gridjs.Grid({
        columns: [
          { id: 'display_name', name: 'Model', width: '20%' },
          { id: 'context_precision', name: 'Context Precision', width: '15%', formatter: (cell, row, attributes) => setPrecFormat(cell, row, attributes) },
          { id: 'output', name: 'Output', formatter: (cell, row, attributes) => setResponseFormat(cell, row, attributes) },
        ],
        server: {
          url: '{{ url_for("get_inference") }}',
          data: (opts) => {
            return new Promise((resolve, reject) => {
              const xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function() {
                if ( this.readyState === 4 ) {
                  if ( this.status === 200 ) {
                    const resp = JSON.parse(this.response);
                    resolve({
                      data: resp.data.map(output => [output.display_name, output.context_precision, output.output]),
                      total: resp.total_models,
                    });
		      // should be shown on frontend, but for the time being just show in console log first
		      // later need to rewrite the frontend
                      console.log('docs', resp.docs);
                  } else {
                    reject();
                  }
                }
              };
              var formData = new FormData( document.getElementById("chatbot-form") );
              // need async for each model, to be done
              xhttp.open("POST", opts.url, true);
              xhttp.send(formData);
            });
          }
        }
        //search: true,
        //sort: true,
        //pagination: true,
      }).render(document.getElementById('table'));
  </script>
</html>
